body{
  background-color: #FADBD8;
 
}
h1 {
  position: relative;
  margin-left: 50px;
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 0px;
  font-family: "Monotype", cursive, sans-serif;

}

.city {
  position: relative;
  margin-top: 0px;
  margin-left: 430px;
  border-width: 10px;
  border-style: double;
  margin-right: 411px;
  border-color: black;
}

h4 {
  position: relative;
  z-index: -100;
  top: -50px;
  left: 470px;
  width: 100%;
  color: black;
  font-size: 30px;
  font-family: "Monotype", cursive, sans-serif;
  z-index: 10;


}



.picture 
{
  display: inline-table;
}

.balboa
{
  margin-top: 90px;
  margin-left: 20px;
   
}


}



h2 {

  margin-left: 70px;
}

.windansea {
  margin-left: 138px;
  margin-top: 90px;
  position: relative;
  
}

.gaslamp {
  position: relative;
  margin-left: 170px;
  margin-top: 90px;
}
.row2 {
  display: inline-table;
}
.mission {
  position: relative;
  margin-left: 20px;
  margin-top: 90px;
}

.sunset {
  position: relative;
  margin-top: 90px;
  margin-left: 93px;
}

.zoo {
  position: relative;
  margin-top: 90px;
  margin-left: 160px;
}

.row3 {
  display: inline-table;
}
.USD {
  position: relative;
  margin-left: 20px;
  margin-top: 90px;
}

.race {
  position: relative;
margin-top: 90px;
margin-left: 93px;
}

.old {
  position: relative;
  margin-top: 90px;
  margin-left: 150px;
}