body{
  background-color: #DE9BAB;
 
}
h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}

.city {
  position: relative;
  margin-top: 0px;
  margin-left: 430px;
}

h4 {
  position: absolute;
  top: -40px;
  left: 50px;
  width: 100%;
  color: white;
  font-size: 30px;

}

.picture 
{
  display: inline-table;
}

.balboa
{
  margin-top: 90px;
  margin-left: 20px;

}

h2 {

  margin-left: 70px;
}

.windansea {
  margin-left: 135px;
  margin-top: 90px;
  
}

.gaslamp {
  margin-left: 170px;
  margin-top: 90px;
}